body {
  padding-top: 40px;
}

/*bloques*/
.independiente {
  padding: 40px 15px;  
}

.formulario {
  padding: 0px 40px;
}

textarea {
  resize: none;
}

.video {
  background: black;
  padding: 0px;
}

.footer {
  background-color: grey;
}

.pie { 
  padding: 30px;
  padding-left: 10%;
}

