body {
  padding-top: 40px;
  font-family: 'Crete Round', serif;
}

/*bloques*/
.independiente {
  padding: 40px 15px;  
}

.formulario {
  padding: 0px 40px;
}

textarea {
  resize: none;
}

.video {
  background: black;
  padding: 0px;
  width: 80%;
}

@media (max-width: 768px) {
  .video {
    width: 100%;
  }
}

img { 
  width: 100%;
  padding-bottom: 20px;
}

.pelis {
  width: 80%;
  padding: 60px 0px;
}

.pie { 
  padding: 30px;
  padding-left: 10%;
}

#redes {
    position: relative;
}

#redes li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
}

#redes li, #redes a {
    height: 20px;
    width: 22px;
    display: block;
}

#face {
    left: 0px;
    background: url('img/iconos.jpg') 0 0;   
    background-size: cover;
}

#twit {
    left: 33px;
    background: url('img/iconos.jpg') -33px 0;   
    background-size: cover;
}

#tube {
    left: 66px;
    background: url('img/iconos.jpg') -66px 0;   
    background-size: cover;
}

